.Arena_container {
    display: flex;
    flex-direction: column;
}

.Arena_border_container {
    display: flex;
    overflow: hidden;
    border: 2px solid black;
    width: 100vw; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.Arena_container .Arena_inner_container {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
}

.Arena .Items_container_container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 7px 1px;
}

.Arena .Items_container {
    display: flex;
    flex-direction: column;
    align-self: end;
}

.Arena {
    display: grid;
}

.Map {
    box-shadow: 2px 2px 10px 2px;
}
 
.Arena .Tile_container {
    display: flex;
    width: 25px;
    height: 25px;
    justify-content: flex-end;
    flex-direction: column;
}
