.Arena_container {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    flex-grow: 1;
    overflow: hidden;
}

.Arena_container.With_hud {
    border-right: 4px solid black;
}

.Arena_container .Arena_inner_container {
    display: flex;
    overflow-x: scroll;
}

.Arena {
    display: grid;
    background-color: black;
    padding: 5px;
    align-self: center;
}
