.Dashboard .Row {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.Dashboard .Control_container {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
}

.Dashboard .Update_button.updated {
    background-color: rgb(81, 194, 231);
}

.Dashboard .Update_button.updated:hover {
    background-color: rgb(82, 204, 244);
}

.Dashboard .Count_item {
    padding-left: 16px;
    padding-right: 16px;
}

.Dashboard .Fitness {
    padding-left: 5px;
    padding-right: 5px;
}

.Dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8px;
}

.Dashboard .Stat_group {
    display: flex;
    margin-top: 8px;
}

.Dashboard .Team_group {
    display: flex;
    flex-direction: row;
}

.Dashboard .Label {
    font-weight: bold;
    text-transform: capitalize;
}

.Dashboard .Speed_buttons_container {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 4px 0px;
}

.Dashboard .Speed_buttons_container .Speed_button {
    display: flex;
    width: 20px;
}