.Dashboard {
    max-height: 290px;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.Dashboard .Row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
    align-items: flex-start;
    padding-right: 8px;
}
.Dashboard .Row_group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Dashboard .Control_container {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    width: 190px;
}

.Dashboard .Dropdown_container {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
}

.Dashboard .Button.Restart {
    align-self: auto;
}

.Dashboard .Checkbox_container {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.Dashboard .Movement_selector {
    padding: 5px;
}

.Dashboard .Fitness {
    padding-left: 5px;
    padding-right: 5px;
}

.Dashboard .Stat_group {
    display: flex;
    margin-top: 8px;
}

.Dashboard .Data_row {
    margin-left: 5px;
}

.Dashboard .Team_group {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.Dashboard .Speed_buttons_container {
    display: flex;
    justify-content: space-between;
    padding: 4px 0px 4px 0px;
}

.Dashboard .Team .Selected {
    border: 1px solid red;
    width: 23px;
    height: 23px;
}

.Dashboard .Settings_panel {
    background-color: peru;
    padding: 8px 8px 8px 8px;
}

.Dashboard .Settings_panel > .Settings_panel {
    padding: 0px 0px 8px 0px;
}

.Dashboard .Settings_panel_expanded {
    padding: 0px 8px 0px 0px;
}

.Dashboard .Settings_panel_expanded > .Settings_panel {
    padding: 8px 0px 8px 8px;
}

.Dashboard .Stats_panel {
    flex-grow: 1;
    padding-left: 4px;
}
