.Hud {
    display: flex;
    flex-grow: 1;
    margin: 8px 0px 8px 8px;
}

.Hud .Tile {
    width: 200px;
    height: 200px;
}

.Hud .Info_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Hud .Details_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.Hud .Details {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.Hud .Checkbox {
    margin-left: 0px;
}

.Hud .Meta_data_toggles {
    margin-bottom: 8px;
}

.Hud .Editable_row {
    margin-bottom: 8px;
}

.Hud .Editing_row {
    margin-bottom: 5px;
}

.Hud .Life_buttons_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Hud .Clickable.Exit {
    font-weight: bold;
    padding: 6px 8px 6px 8px;
}

.Hud .Escape_container {
    margin-right: 8px;
    margin-left: -8px;
}

.Hud .Kill_button {
    background-color: red;
    padding: 6px 12px 6px 12px;
    align-self: flex-end;
}

.Hud .Spawn_button {
    background-color: limegreen;
    padding: 6px 12px 6px 12px;
    align-self: flex-end;
}

.Hud .Toggles {
    margin-top: 8px;
}

.Hud .Badge {
    display: flex;
    flex-direction: column;
}

.Hud .Below_image {
    margin-top: 8px;
}
