.Hud {
    display: flex;
    flex-grow: 1;
    margin: 8px 0px 8px 8px;
}

.Hud .Tile {
    width: 200px;
    height: 200px;
}

.Hud .Details {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}

.Hud .Editable_row {
    margin-bottom: 8px;
}

.Hud .Editing_row {
    margin-bottom: 5px;
}

.Hud .Kill_button_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Hud .Kill_button {
    background-color: red;
    padding: 6px 12px 6px 12px;
    align-self: flex-end;
}

.Hud .Toggles {
    margin-top: 8px;
}

.Hud .Badge {
    display: flex;
    flex-direction: column;
}

.Hud .Id {
    margin-top: 8px;
}
