.Team_stats {
    display: flex;
    flex-direction: column;
    z-index: 999;
    position: absolute;
    z-index: 999; 
    top: 57px; 
    border-bottom: 4px solid black;
    background-color: peru;
}

.Team_stats_fullscreen {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100vw;
}

.Team_stat_group_panel_container {
    margin: -8px;
}

.Team_stats_button_container {
    margin-right: 8px;
    display: flex;
    align-self: center;
}

.Stat_group {
    display: flex;
    margin: 8px;
    flex-shrink: 1;
    flex-grow: 0;
}

.Data_row {
    margin-left: 5px;
    white-space: nowrap;
}

.Team_group {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.Team .Selected {
    border: 1px solid red;
    width: 23px;
    height: 23px;
}
