.Tile {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Paint_palette .Tile {
    width: 50px;
    height: 50px;
}

.Tile .Tile_potential {
    font-size: 10px;
}

.Tile.Void {
    background-color: black;
}

.Tile.Grass {
    background-color: green;
}

.Tile.Water {
    background-color: blue;
}

.Tile.Fire {
    background-color: red;
}

.Tile.Rock {
    background-color: gray;
}

.Tile.Sand {
    background-color: yellow;
}

.Tile.Highlight {
    background-color: white;
}

.Tile.Selected {
    border: 1px solid red;
    width: 23px;
    height: 23px;
}

.Paint_palette .Tile.Selected {
    width: 48px;
    height: 48px;
}
